/* App.css */
.JobSeeker_Container {
    display: flex;
    margin: 4rem auto;
    flex-direction: column;
    background-image: url('/src/Images/bg5.jpg');
    min-height: 50vh;
    flex-direction: column;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.JobSeeker_overLay {
    background-color: #0000006e;
}

.JobSeeker_Main {
    text-align: center;
    /* min-height: 50vh; */
    display: flex;

    flex-direction: column;
}

.JobSeeker_header {
    margin-top: 2rem;
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .JobSeeker_Underline {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
} */

.JobSeeker_header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.JobSeeker_header p {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-bottom: 2rem;
    width: 300px;
    height: 5px;
}

.JobSeeker_Content {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 200px;
}

@media (max-width: 768px) {
    .JobSeeker_Content {
        padding: 10px;
        font-size: 1.15rem;
    }

    .JobSeeker_header p {
        width: 180px;
        height: 3px;
    }

}

@media (max-width: 480px) {
    .JobSeeker_Content {
        font-size: 1rem;
    }

    .JobSeeker_header p {
        width: 200px;
        height: 3px;
    }
}