/* Navbar Container */
header {
    position: relative;
    padding: 0 2rem;
    background-color: #000035;
  }
  
  .navbar {
    width: 100%;
    height: 80px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo Styles */
  .logo img {
    height: 6rem;
    width: 13rem;
  }
  
  /* Navigation Links */
  .links {
    list-style: none;
    display: flex;
  }
  
  .links li {
    font-size: 1.5rem;
    margin: 0 10px;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .links a:hover {
    scale: 1.05;
    color: orange;
  }
  
  /* Action Button */
  .action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .action_btn:hover {
    color: #fff;
    background-color: #ff9800;
  }
  
  .action_btn:active {
    scale: 0.95;
  }
  
  /* Toggle Button (for Mobile) */
  .toggle_btn {
    display: none;
    cursor: pointer;
    color: #fff;
  }
  
  .toggle_btn i {
    font-size: 1.5rem;
  }
  
  /* Dropdown Menu (Mobile) */
  .dropdown_menu {
    display: none;
    position: absolute;
    top: 105px;
    right: 2rem;
    width: 320px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .dropdown_menu.open {
    height: 240px;
  }
  
  .dropdown_menu li {
    color: #fff;
    padding: 0.7rem;
    text-align: center;
    transition: color 0.3s ease-in-out;
  }
  
  .dropdown_menu li:hover {
    color: orange;
  }
  
  .dropdown_menu .action_btn {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar .links,
    .navbar .action_btn {
      display: none;
    }
  
    .toggle_btn {
      display: block;
    }
  
    .dropdown_menu {
      display: block;
    }
  }
  