.GoogleMap_container {
    position: relative; /* Ensures proper positioning for the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('/src/Images/bgImage.jpg');
    min-height: 30vh;
    flex-direction: column;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.GoogleMap_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 50, 80, 0.9); /* Overlay color */
    z-index: 1; /* Ensures it sits on top of the image */
}


.GoogleMap_Main {
    position: relative; /* Ensures content appears above the overlay */
    max-width: 1600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2; /* Places content above the overlay */
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.GoogleMap_Main iframe {
    width: 1000px;

    height: 350px;
    background-color: aquamarine;
}

.GoogleMap_header {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.GoogleMap_header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.GoogleMap_header p {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-bottom: 2rem;
    width: 300px;
    height: 5px;

}

.GoogleMap_text {
    margin-top: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .GoogleMap_Main {
        padding: 15px;
    }

    .GoogleMap_Main iframe {
        height: 300px;
    }

    .GoogleMap_header h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .GoogleMap_header p {
        font-size: 1rem;
        width: 80%;
    }

    .GoogleMap_text {
        font-size: 1.25rem;
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {

    .GoogleMap_Main {
        padding: 10px;
        height: 550px;
    }

    .GoogleMap_Main iframe {
        height: 250px;
    }

    .GoogleMap_header h1 {
        font-size: 1.8rem;
        margin-bottom: 0.75rem;
    }

    .GoogleMap_header p {
        width: 200px;
        height: 3px;
    }

    .GoogleMap_text {
        font-size: 1rem;
        margin-top: 1.5rem;
    }
}