.all_main {
    background-image: url('/src/Images/Millets2.png');
    display: flex;
    margin: 10;
    flex-direction: column;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}