.faq-container {
    max-width: 800px;
   
    padding: 20px;
    background-color: aliceblue;
    border-radius: 30px;
    margin-top: 2rem;
    margin: 3rem auto;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.faq-item.active {
    /* background-color: #f9f9f9; */
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-icon {
    font-size: 20px;
}

.faq-answer {
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    max-height: 0;
}

.faq-answer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .faq-container {
        padding: 10px;
    }

    .faq-item {
        padding: 8px 0;
    }

    .faq-answer {
        padding: 0 10px;
    }
}