.Home_Faq_Container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    /* padding: 40px; */
}

.Home_Faq_Main {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Home_Faq_PName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

.Home_Faq {
    text-align: left;
    width: 100%;
    padding: 50px;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    column-gap: 2rem;
    row-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: #fff;
    border-radius: 20px;
}

.Home_Faq_Underline {
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
}