.divStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

.spanStyle {
    padding: 20px;
    background: #efefef;
    color: #000000;
}

@media (max-width: 768px) {
    .divStyle {
        height: 32rem;
    }
}

@media (max-width: 480px) {
    .divStyle {
        height: 32rem;
    }
}