.Ourservices_faq-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}

.Ourservices_header {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Ourservices_header h1 {
    margin-top: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 2rem;
}

.Ourservices_header p {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-bottom: 2rem;
    width: 300px;
    height: 5px;
}

.Ourservices_faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Ourservices_faq-item h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.Ourservices_faq-item.active {
    /* background-color: #f9f9f9; */
}

.Ourservices_faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Ourservices_faq-icon {
    font-size: 30px;
}

.Ourservices_faq-answer {
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    max-height: 0;
}

.Ourservices_faq-answer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .Ourservices_faq-container {
        padding: 10px;
    }

    .Ourservices_header p {
        width: 180px;
        height: 3px;
    }

    .Ourservices_faq-item {
        padding: 8px 0;
    }

    .Ourservices_faq-answer {
        padding: 0 10px;
    }

    .Ourservices_header h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .Ourservices_faq-container {
        padding: 10px;
    }

    .Ourservices_header p {
        width: 150px;
        height: 3px;
    }
}