/* App.css */
.AboutSection_Container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 40px;
    max-width: 1200px;
}

.AboutSection_Main {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutSection_header {
    background-color: transparent;
    padding: 20px;
}

.AboutSection_Underline {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
}

.AboutSection_header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.AboutSection_Content {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}

.info-section {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* CSS for count animation */
.count {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    transition: opacity 1s ease, transform 1s ease;
    /* Slower transition */
}

/* Animation for count visibility */
@keyframes countUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply animation when element is visible */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(20px);
    animation: countUp 2s ease-out forwards;
    /* Slower animation */
}

@media (max-width: 768px) {
    .AboutSection_Container {
        padding: 20px;
    }

    .AboutSection_header h1 {
        font-size: 2rem;
    }

    .AboutSection_Underline {
        font-size: 1.5rem;
    }

    .AboutSection_Content {
        font-size: 1.15rem;
    }

    main {
        justify-content: center;
    }

    .info-section {
        width: calc(50% - 20px);
        /* Width with margin accounted */
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .AboutSection_Container {
        padding: 1px;
        /* Reduced padding */
    }

    .AboutSection_header h1 {
        font-size: 1.75rem;
    }

    .AboutSection_Underline {
        font-size: 1.25rem;
    }

    .AboutSection_Content {
        font-size: 1rem;
    }

    main {
        justify-content: center;
    }

    .info-section {
        width: calc(50% - 10px);
        /* Increased width by reducing margin */
        margin: 5px;
        /* Reduced margin to increase card width */
    }
}