.AboutSection_Container {
    position: relative; /* Ensures proper positioning for the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('/src/Images/bgImage.jpg');
    min-height: 20vh;
    flex-direction: column;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.AboutSection_Container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 50, 80, 0.9); /* Overlay color */
    z-index: 1; /* Ensures it sits on top of the image */
    border-radius: 20px;
}

.AboutSection_Main {
    position: relative; /* Ensures content appears above the overlay */
    max-width: 1600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2; /* Places content above the overlay */
}


.AboutSection_header {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.AboutSection_header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.AboutSection_header p {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-bottom: 2rem;
    width: 300px;
    height: 5px;
}

.AboutSection_Content {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 200px;
}

main {
    padding: 60px 200px;
    /* padding: 200px; */
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.info-section {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.count {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    transition: opacity 1s ease, transform 1s ease;
}

@keyframes countUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(20px);
    animation: countUp 2s ease-out forwards;
}

@media (max-width: 768px) {
    .AboutSection_Container {
        padding: 20px;
    }

    .AboutSection_header h1 {
        margin: 0;
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 2rem;
    }

    .AboutSection_Underline {
        font-size: 1.5rem;
    }

    .AboutSection_header p {
        width: 180px;
        height: 3px;
    }

    .AboutSection_Content {
        padding: 10px;
        font-size: 1.15rem;
    }

    main {
        justify-content: center;
        padding: 20px;
    }

    .info-section {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .AboutSection_Container {
        padding: 1px;
    }

    .AboutSection_header h1 {
        font-size: 2.5rem;
    }

    .AboutSection_Underline {
        font-size: 1.25rem;
    }

    .AboutSection_header p {
        width: 150px;
        height: 3px;
    }

    .AboutSection_Content {
        font-size: 1rem;
    }

    main {
        justify-content: center;
        padding: 20px;
    }

    .info-section {
        width: calc(50% - 10px);
        margin: 5px;
    }
}