.Service_Container {
    background-image: url('/src/Images/bgImage.jpg');
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.Service_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.Service_head h1 {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    align-self: center;
    margin-bottom: 1rem;
    color: aliceblue;
}

.Service_head h2 {
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
    align-self: center;
    margin-bottom: 2rem;
    color: aqua;
}


.Service_map_container {
    max-width: 1210px;
    flex-direction: column;
    margin: 200px auto;
}

.Service_map_main {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
}

.Service_map_main2 {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 100px;

}

.Service_text_container_map {
    padding: 0 60px 0 0;
    width: 60%;
}

.Service_text_container_map2 {
    padding: 0 0 0 60px;
    width: 60%;
}

.Service_image_container_map {
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.Service_image_map {
    max-width: 800px;
    transition: 0.5s all ease-in-out;
    object-fit: fill;

}

.Service_map_title {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.Service_map_des {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    margin: 30px 0;
}


@media only screen and (max-width:1269px) {
    .Service_map_container {
        max-width: 940px;
    }

    .Service_image_container_map {
        max-width: 470px;
    }

    .Service_image_map {
        max-width: 470px;
    }
}

@media only screen and (max-width:991px) {
    .Service_map_container {
        max-width: 800px;
    }

    .Service_map_main {
        justify-content: center;
        align-items: center;
    }

    .Service_map_main2 {
        justify-content: center;
        align-items: center;
    }

    .Service_image_container_map {
        max-width: 370px;
    }

   .Service_image_map {
        max-width: 370px;
    }

  .Service_text_container_map {
        padding: 0 20px 0 0;
        width: 50%;
    }

   .Service_text_container_map2 { 
        padding: 0 0 0 20px;
        width: 50%;
    }
}

@media only screen and (max-width:960px) {
    .Ab_Service_map_container {
        max-width: 1210px;
        flex-direction: column;
        /* margin: 200px auto; */
        margin-top: 2rem;
    }
    
    .Service_map_main {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .Service_map_main2 {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;

    }

    .Service_map_container {
        max-width: 720px;
    }

   .Service_image_map {
        max-width: 100%;
    }

    .Service_image_container_map {
        max-width: 100%;
    }

  .Service_text_container_map {
        padding: 30px 0px 0 0;
        width: 100%;
    }

   .Service_text_container_map2 { 
        padding: 30px 0 0 0px;
        width: 100%;
    }

    .Service_map_container {

        margin: 200px auto;
        align-items: center;

    }
}

@media only screen and (max-width:830px) {

    .Service_map_container {
        max-width: 600px;
    }
}

@media only screen and (max-width:680px) {

    .Service_map_container {
        max-width: 500px;
        margin: 50px auto;
    }
}

@media only screen and (max-width:588px) {
    .Service_map_container {
        max-width: 400px;
    }
}

@media only screen and (max-width:422px) {

    .Service_map_container {
        margin: 50px 20px;
    }
}